@name Cyberpunk 2077
@description Cyberpunk 2077 UI styled theme, remix of https://github.com/PatrykBielanin/discord-cyberpunk2077-theme
 

@define-color bittersweet   #F95E5A;
@define-color bittersweet-rgb   rgb(249 94 90);
@define-color aqua          #28FFFF;

@define-color icterine      #FFFF4D;

@define-color emerald       #28E096;

@define-color lavender      #D4ADCF;

@define-color black         #0D0D15;

@define-color licorice      #271219;

@define-color caput_mortuum #511E1E;


@import url('https://fonts.googleapis.com/css2?family=Rajdhani');
@import url('base.css');

:root {
    --background-primary: linear-gradient(180deg, rgba(39,18,25,1) 10%, rgba(7,12,18,1) 65%); /* Background gradient */
    --background-secondary: linear-gradient(180deg, rgba(39,18,25,1) 10%, rgba(7,12,18,1) 65%); /* Background gradient */
    --font-primary: 'Rajdhani'; /* Font */
    --primary-text-color: #F95E5A; /* Font color */

    --primary: 23, 13, 22;  /* Background color mainly used for popups */
    --red: 249, 94, 90; /* Use RGB values */
    --blue: 114, 234, 248; /* Use RGB values */
    --yellow: 243, 230, 0; /* Use RGB values */
    --green: 71, 213, 139; /* Use RGB values */
    --dark-green: 56, 171, 111; /* Use RGB values */

    --avatar-circle: 0; /* Square avatar */
    --avatar-rounded: 5px; /* Square avatars */
    --avatar-border: 1px solid var(--neon-red-color); /* Border of avatar */


    --primary-color: rgba(var(--primary), 0.9);
    --dark-primary-color: rgba(var(--primary), 1);
    --light-primary-color: rgba(var(--primary), 0.6);

    --neon-red-color: rgba(var(--red), 1);
    --neon-blue-color: rgba(var(--blue), 1);
    --neon-yellow-color: rgba(var(--yellow), 1);
    --neon-green-color: rgba(var(--green), 1);

    --light-neon-red-color: rgba(var(--red), 0.5);
    --light-neon-blue-color: rgba(var(--blue), 0.65);
    --light-neon-yellow-color: rgba(var(--yellow), 0.5);
    --light-neon-green-color: rgba(var(--green), 1);

    --dark-neon-green-color: rgb(var(--dark-green));

    /* Variables for custiomization tool */
    --avatar-circle: 0;
    --avatar-rounded: 5px;
    --avatar-border: 1px solid var(--neon-red-color);

    /* Discord variables */
    --brand-experiment: var(--neon-red-color);
    --brand-experiment-500: rgba(var(--red), 0.65);
    --brand-experiment-560: rgba(var(--red), 0.70);
    --brand-experiment-600: rgba(var(--red), 0.80);
    --modal-background: var(--dark-primary-color);
    --modal-footer-background: var(--light-primary-color);
    --header-primary: var(--neon-blue-color);
    --header-secondary: var(--light-neon-blue-color);
    --search-popout-option-fade: var(--primary-color);
    --background-floating: var(--primary-color);
    --background-modifier-accent: var(--light-neon-red-color);
    --interactive-hover: var(--light-neon-blue-color);
    --info-warning-foreground: var(--neon-yellow-color);
    --background-mentioned: rgba(var(--yellow), 0.1);
    --interactive-active: var(--neon-yellow-color);
    --search-popout-date-picker-hint-value-background-hover: rgba(var(--red), 0.8);
    --button-secondary-background: rgba(var(--blue), 0.75);
    --__lottieIconColor: var(--neon-blue-color);
}

.divider-2rZFJK {
    --divider-color: var(--neon-red-color) !important;
}
